@media screen and (min-width: 900px) {
  .container {
    /* color: red; */
  }

  .filter_sliders > input {
    /* width: 90%; */
  }
}


[slider] {
  position: relative;
  height: 14px;
  border-radius: 10px;
  text-align: left;
  margin: 45px 0 10px 0;
}

[slider] > div {
  position: absolute;
  left: 13px;
  right: 15px;
  height: 14px;
}

[slider] > div > [inverse-left] {
  position: absolute;
  left: 0;
  height: 14px;
  border-radius: 10px;
  background-color: #CCC;
  margin: 0 7px;
}

[slider] > div > [inverse-right] {
  position: absolute;
  right: 0;
  height: 14px;
  border-radius: 10px;
  background-color: #CCC;
  margin: 0 7px;
}

[slider] > div > [range] {
  position: absolute;
  left: 0;
  height: 14px;
  border-radius: 14px;
  background-color: #1ABC9C;
}

[slider] > div > [thumb] {
  position: absolute;
  top: -7px;
  z-index: 2;
  height: 28px;
  width: 28px;
  text-align: left;
  margin-left: -11px;
  cursor: pointer;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  background-color: #FFF;
  border-radius: 50%;
  outline: none;
}

[slider] > input[type=range] {
  position: absolute;
  pointer-events: none;
  -webkit-appearance: none;
  z-index: 3;
  height: 14px;
  top: -2px;
  width: 100%;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}

div[slider] > input[type=range]::-ms-track {
  -webkit-appearance: none;
  background: transparent;
  color: transparent;
}

div[slider] > input[type=range]::-moz-range-track {
  -moz-appearance: none;
  background: transparent;
  color: transparent;
}

div[slider] > input[type=range]:focus::-webkit-slider-runnable-track {
  background: transparent;
  border: transparent;
}

div[slider] > input[type=range]:focus {
  outline: none;
}

div[slider] > input[type=range]::-ms-thumb {
  pointer-events: all;
  width: 28px;
  height: 28px;
  border-radius: 0px;
  border: 0 none;
  background: red;
}

div[slider] > input[type=range]::-moz-range-thumb {
  pointer-events: all;
  width: 28px;
  height: 28px;
  border-radius: 0px;
  border: 0 none;
  background: red;
}

div[slider] > input[type=range]::-webkit-slider-thumb {
  pointer-events: all;
  width: 28px;
  height: 28px;
  border-radius: 0px;
  border: 0 none;
  background: red;
  -webkit-appearance: none;
}

div[slider] > input[type=range]::-ms-fill-lower {
  background: transparent;
  border: 0 none;
}

div[slider] > input[type=range]::-ms-fill-upper {
  background: transparent;
  border: 0 none;
}

div[slider] > input[type=range]::-ms-tooltip {
  display: none;
}

[slider] > div > [sign] {
  opacity: 0;
  position: absolute;
  margin-left: -11px;
  top: -39px;
  z-index:3;
  background-color: #1ABC9C;
  color: #fff;
  width: 28px;
  height: 28px;
  border-radius: 28px;
  -webkit-border-radius: 28px;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
}

[slider] > div > [sign]:after {
  position: absolute;
  content: '';
  left: 0;
  border-radius: 16px;
  top: 19px;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-top-width: 16px;
  border-top-style: solid;
  border-top-color: #1ABC9C;
}

[slider] > div > [sign] > span {
  font-size: 12px;
  font-weight: 700;
  line-height: 28px;
}

[slider]:hover > div > [sign] {
  opacity: 1;
}

html, body {
  margin: 0;
  padding: 0;

}

h3 {
  font-size: 1em;
  text-decoration: underline;
}

.plot {
  fill: rgb(231, 223, 223);
  stroke: rgb(231, 223, 223);
  stroke-width: 4;
}

.massyearplot {
  fill: lightgrey;
  stroke: lightgrey;
  stroke-width: 4;
}

.massdensplot {
  fill: lightgrey;
  stroke: lightgrey;
  stroke-width: 4;
}

.centuriesPlot {
  fill: lightgrey;
  stroke: lightgrey;
  stroke-width: 4;
}

.scatterdot {
  fill: blue;
}

.container {
  /* display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 1fr minmax(0.5fr, 0.5fr);
  grid-template-areas:
    "header header header"
    "left-panel globe plots"; */
  text-align: center;
  overflow: auto;
  margin-left: 0px;
  margin-right: 0px;
  width: 100vh;
}

.panel {
  border: 1px solid black;
}

.input_box {
  width:80% !important;
}

.slider_table{
  padding: 5px;
  border-spacing: 5px;
  border-collapse: collapse;
}

.label_size{
  width: 5%;
}
#title_div {
  margin: 0px;
}
#title {
  text-align: center;
  font-size: 25px;
  margin: 0px;
}

#header_panel {
  grid-area: header;
}

#left_panel {
  grid-area: left-panel;
  border-top: none;
  height:100%
}

#filter_panel {
  height: 55vh;
  overflow-y:auto;
}



#filter_sliders > p, #filter_sliders > div, #filter_sliders > input{
  width: 80%;
}



#filter_panel div {
  display: flex;
  flex-direction: column;
  align-items: center;
}


#info_panel {
  grid-area: info;
  text-align: left;
  height: 25vh;
  display: flex;
  justify-content: space-between;
}



#globe_panel {
  grid-area: globe;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-left: none;
  border-right: none;
  /* overflow: hidden; */
  /* width: 100%; */


}

#meteorite_globe_vis {
  width: 100%;
  height: 100%;
  padding: 10px;
}


#right_panel {
  height:100%
}

#plots_panel {
  grid-area: plots;
  overflow-y:auto;
  height:80%;
}

#header_panel,
#left_panel,
#globe_panel,
#right_panel,
.subpanel {
  border-top: none;
}

#meteorite_name {
  text-align: center;
}

#filter-div {
  height:9%;
  padding-top:2%;
  padding-bottom:2%
}

#filter-header {
  float:left; width:40%; padding:0; display:flex; justify-content:center; font-size:1.15vw;
}
#filter-input-div {
  float:right;
  width:60%;
  padding:0;
  height:100%
}

#filter-input-item {
  height:50%;
}

#filter-input-header {
  width:20%;
  padding-right:0;
  justify-content: right;
}

#filter-input-box {
  width:80%;
  padding:0;
}

.ui-slider-handle {
  font-size: 11px;
  margin-top: 2px;
}

.ui-state-hover {
  
}

#citation {
  font-size:1.15vw;
  text-align: center;
}